body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
p,
span {
  color: white;
}

span {
  margin: 1rem;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.animal-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 0.2em;
  min-height: 30rem;
}

.animal-link {
  text-decoration: none;
}

.animal-link:visited {
  color: initial;
}

.animal-card h1 {
  text-align: center;
}

.animal-details-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.animal-details-card img {
  height: 20rem;
  width: auto;
}

button {
  padding: 0.4rem 1rem;
  margin: 1rem;
  transition: 0.1s ease-in-out;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  cursor: pointer;
}

.keeper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starving {
  color: red;
  display: block;
}
