body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100vw;
}

.animal-card {
  padding: 1rem 4rem;
  border: 1px solid grey;
  border-radius: 0.2em;
  min-height: 10rem;
}
.animal-link {
  text-decoration: none;
}
.animal-link:visited {
  color: initial;
}

.animal-card h1 {
  text-align: center;
}

.animal-details-card {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.animal-details-card img {
  height: 20rem;
  width: auto;
}
